# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# 虚拟环境
.venv/
venv/

# IDE
.vscode/
.idea/

# 操作系统
.DS_Store
Thumbs.db

# CANoe 临时文件
*.blf
*.asc
*.log

# pytest
.pytest_cache/
results/
allure-report/